* { 
	margin:0; padding:0; 
}
			
body { 
	font-size: 90%; 
	font-family: Lucida Sans Unicode, Arial, Helvetica;
	background: #000 url('images/design_02.png') top left repeat-x fixed;
	text-align: center;
	color: #000;
}

#container {
	display: block;
	width: 50%;
	margin-right: auto;
	margin-left: auto;
	margin-top: 5%;
}
	
	.login {
		display: block;
		padding: 0px 0 0 0;
		width: 624px;
		height: 526px;
		background: url('images/design_05.png') top left no-repeat;
		position: relative;
	}
		
		.form-title {
			margin-top: 4.5em;
		}
		
		.shield {
			display: block;
			margin-left: auto;
			margin-right: auto;
			width: 400px;
		}
		
		.form-box-top {
			width: 407px;
			height: 19px;
			display: block;
			margin-top: 3em;
			background: url('images/design_12.png') top left no-repeat;
		}
		
		.form-box-content {
			width: 407px;
			display: block;
			padding: 2em 0 2em 0;
			background: url('images/design_15.png') top left repeat-y;
		}	
			
			.the-username {
				display: block;
				margin-bottom: 1em;
				margin-left: auto;
				margin-right: auto;
				width: 180px;
				padding: 5px;
				cursor: pointer;
			}
				
				.the-username-focus {
					background: #d4d4d4;
					border: 1px solid #ccc;
					-webkit-border-radius: 5px;
					-moz-border-radius: 5px;
				}
			
			.the-password {
				font-size: 80%;
				display: none;
			}
			
				input {
					font-size: 120%;
				}
				
				.field-password-loading {
					border: 0;
					background: #fff url('images/loading.jpg') no-repeat;
					background-position-x: -188px;
				}
		
		.form-box-bottom {
			width: 407px;
			height: 13px;
			display: block;
			background: url('images/design_17.png') top left no-repeat;
		}
	
	.back {
		display: block;
		width: 250px;
		margin-left: auto;
		margin-right: auto;
		margin-top: 2em;
		padding-left: 3em;
	}
		
		.back p {
			float: left;
			margin-right: 2em;
		}
		
	a, a:visited {
		font-size: 80%;
		color: #000;
		text-decoration: none;
	}