@import url('reset.css');

body {
	background-color: #fff;
	color: #666;
	font: 14px "Helvetica Neue", Helvetica, Arial, sans-serif;	
	margin: 20px 25px;
}

/* Headings */

header {
	margin-bottom: 50px;
}

h1 {
	font-size: 24px;
	line-height: 1;
	font-weight: bold;
	color: #222;
}

h2 {
	font-size: 16px;
	font-weight: 300;
	color: #777;
}



/* Navigation */

nav {
	margin-bottom: 30px;
	position: relative;
}

nav ul {
	overflow: hidden;
	padding-bottom: 10px;
	border-bottom: 5px solid #bbb;
}

nav li {
	float: left;
	margin-right: 35px;
}

nav li a {
	color: #666;
	font-weight: bold;
}

nav li a:hover,
nav li a:focus,
nav li a.current {
	color: #000;
}

nav #indicator {
	position: absolute;
	left: 15px;
	bottom: 5px;
	width: 12px;
	height: 7px;
	background-image: url('../img/notch.png');
}





/* Content */

#content section {
	display: none;
}

#content p {
	margin-bottom: 1em;
	max-width: 50em;
	line-height: 1.6;
}