/**
 * jQuery MotionCAPTCHA Demo CSS
 * josscrowcroft.com/projects/motioncaptcha-jquery-plugin/
 *
 * These rules aren't necessary for the plugin to operate, but they look nice enough.
 *
 * The demo styles are based on http://www.premiumpixels.com/freebies/coming-soon-splash-page-psd/
 */


/* --- The CSS Reset (see cssreset.com) --- */

body, html { height: 100%; }html, body, div, span, applet, object, iframe, p, blockquote, pre,a, abbr, acronym, address,del, dfn, em, font, img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,b, u, i, center,dl, dt, dd, ol, ul, li,fieldset, form, label, legend,table, caption, tbody, tfoot, thead, tr, th, td {margin: 0;padding: 0;border: 0;outline: 0;font-size: 100%;vertical-align: baseline;background: transparent;}body { line-height: 1; }ol, ul { list-style: none; }blockquote, q { quotes: none; }blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }:focus { outline: 0; }del { text-decoration: line-through; }table {border-spacing: 0; }

.clear {clear: both;display: block;overflow: hidden;visibility: hidden;width: 0;height: 0;}



/* --- The Page --- */

html,
body {
	margin:0;
	padding:0;
	height:100%;
}
#wrap {
	min-height:100%;
	position:relative;
	background: #55575c url(bg.jpg);
	/*  TO-DO: this corner-shadow effect rapes safari in the bum:
		-webkit-box-shadow: inset 0 0 300px rgba(0,0,0,0.5);
		   -moz-box-shadow: inset 0 0 300px rgba(0,0,0,0.5);
				box-shadow: inset 0 0 300px rgba(0,0,0,0.5);
	*/
}
body {
	color: #f7f0f3;
	font: 14px / 1.61em sans-serif;
	margin:0;
	height:100%;
	min-height:100%;
	text-shadow: 0 1px 1px rgba(0,0,0,0.75);
}
#page {
	width: 640px;
	padding:40px 0 15px;
	margin:0 auto
}


/* Typography */

h1 {
	font-weight:bold;
	letter-spacing:-0.03em;
	text-align: center;
	font-size: 35px;
}
h2 {
	text-align: center;
	font-size: 15px;
}
p {
	margin-bottom: 1.61em;
	text-align: center;
}
img {
    clear: both;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
a,
a:link,
a:visited {
	color: #c6eaf7;
	font-weight: bold;
	text-decoration:none;
}
a:hover,
a:focus,
a:active {
	color: #d8f3fd;
	text-shadow: 0 1px 1px rgba(0,0,0,0.75), 0 0 5px rgba(198,234,247,0.4);
}


/* --- The Mighty Form --- */

form {
	width: 440px;
	display: block;
	text-align:left;
	margin: 20px auto;
}

/* The MotionCAPTCHA canvas shares some styles in this demo with the form's input fields */
/* These aren't essential but look cool */
/* The plugin's essential CSS styles (width/height and shape-classes) are defined in motionCaptcha.css */
input,
textarea {
	font-family:"Lucida Grande", sans-serif;
	font-size: 13px;
	font-weight: bold;
	display: block;
	border: 0;
	outline:0;
	-webkit-border-radius: 3px;
	   -moz-border-radius: 3px;
			border-radius: 3px;
	-webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0 1px 1px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0 1px 1px rgba(0,0,0,0.3);
			box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0 1px 1px rgba(0,0,0,0.3);
	padding: 9px 12px;
	margin:0 0 20px;
}
/* Some differences specific to textey inputs (not submit button) */
input[type="text"],
input[type="email"],
textarea {
	color: #777;
	width: 422px;
	background:#fff;
}
/* Some differences specific to the textarea: */
textarea {
	max-height:200px;
	max-width:422px
}

/* Texties get a red highlight when invalid */
input:invalid, textarea:invalid {
   -moz-box-shadow: 0 0 0 4px rgba(255,0,0,0.3);
-webkit-box-shadow: 0 0 0 4px rgba(255,0,0,0.3);
        box-shadow: 0 0 0 4px rgba(255,0,0,0.3);
}

/* MotionCAPTCHA canvas */
#mc-canvas {
	margin:0 auto 20px;
	padding:1px;
	display: block;
	border: 4px solid #433e45;
	-webkit-border-radius: 4px;
	   -moz-border-radius: 4px;
			border-radius: 4px;
}
/* Red border when invalid */
#mc-canvas.mc-invalid {
	border: 4px solid #aa4444;
}
/* Green border when valid */
#mc-canvas.mc-valid {
	border: 4px solid #44aa44;
}

/* The submit button */
input[type="submit"] {
	margin:0;
	width: 85px;
	color: #5d7731;
	display:inline-block;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	background: #b6d76f;
	background: -webkit-gradient(linear, left top, left bottom, from(#cae285), to(#9dc954));
	background: -moz-linear-gradient(top,  #cae285,  #9dc954);
	-webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
			box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
}
input[type="submit"]:hover,
input[type="submit"]:focus {
	cursor: pointer;
	-webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3), 0 0 5px rgba(255,255,190,0.5);
	   -moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3), 0 0 5px rgba(255,255,190,0.5);
			box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3), 0 0 5px rgba(255,255,190,0.5);
}
input[type="submit"]:active {
	cursor: pointer;
	position: relative;
	top: 1px;
	text-shadow: 0 -1px 0 rgba(255,255,255,0.4);
	background: #9dc954;
	background: -webkit-gradient(linear, left top, left bottom, from(#9dc954), to(#cae285));
	background: -moz-linear-gradient(top,  #9dc954,  #cae285);
	-webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0 0 0 transparent, inset 0 0 0 transparent;
	   -moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0 0 0 transparent, inset 0 0 0 transparent;
			box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0 0 0 transparent, inset 0 0 0 transparent;
}

input[type="submit"]:disabled {
	top:0;
	color: #777;
	display:inline-block;
	text-shadow: 0 1px 0 rgba(255,255,255,0.4);
	background: #bbb;
	background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#bbb));
	background: -moz-linear-gradient(top,  #ccc,  #bbb);
	-webkit-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
	   -moz-box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
			box-shadow: 0 0 0 5px rgba(0,0,0,0.1), inset 0px 1px 2px rgba(255,255,255,1), 0 1px 1px rgba(0,0,0,0.3);
}

/* Twitter link */
.twitter:before {
	content: '@';
	padding-top: 2px;
	padding-left: 24px;
	background: url(twitter.png) no-repeat 0 0px;
}
.twitter {
	padding-top: 5px;
}