/* Main */

#tooltip-text-saver {
	position: fixed;
	top: 0px;
	left: 0px;
	color: #fff;
	z-index: 99999999;
}

body {
	background-color: #fff;
	color: #333333;
	font-family: 'Open-Sans', sans-serif;
	font-size: 16px;
	line-height: 22px;
	font-weight: 300;
}
.container {
	width: 978px;
	margin: 0 auto;
}
header {
	padding: 15px 0px;
	margin: 100px 0px 30px;
	border-bottom: 1px dashed #dfe2e4;
	position: relative;
}
#beta {
	position: absolute;
	font-size: 10px;
	line-height: 10px;
	color: #409cf2;
	top: 18px;
	left: 170px;
	font-weight: 700;
	text-transform: uppercase;
}
#social {
	width: auto;
	height: 36px;
	background-color: #f3f4f4;
	border: 1px solid #dfe2e4;
	border-radius: 3px;
	position: absolute;
	right: 0px;
	top: 30px;
}
#social div {
	float: left;
	width: 90px;
	padding: 6px 10px;
}
#tweet {
	margin-top: 2px;
}
div#github {
	position: relative;
	bottom: 2px;
	margin-left: 22px;
	width: 110px;
}
#github a {
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	-ms-transition: none;
	transition: none;
}
section {
	padding-top: 100px;
}
#intro {
	padding-top: 0px;	
}
nav {
	margin-bottom: 30px;
	width: 100%;
	background-color: #628192;
	position: fixed;
	top:0px;
	z-index: 9999;
	box-shadow: 0px 30px 30px #fff, 0px 30px 30px #fff;
}
nav ul {
	list-style: none;
	margin-bottom: 0px;
}
nav li {
	float: right;
	display: inline;
}
nav a:link, nav a:visited {
	display: inline-block;
	padding: 20px 30px;
	color: #fff;
	background-color: #628192;
}
nav a:hover, nav a:active {
	color: #409cf2;
	background-color: #fff;
}
#description {
	width: 560px;
	float: left;
	margin-right: 60px;
}
#browser-compatibilty, #download-1 {
	width: 300px;
	float: left;
	text-align: center;
	margin-left: 25px;
}
#download-1 {
	padding-top: 45px;
	text-align: right;
}
.browser:link, .browser:visited {
	display: block;
	width: 54px;
	height: 58px;
	float: left;
	margin: 0px 3px 15px;
	opacity: 0.5;
}
.browser:hover, .browser:active {
	opacity: 1;
}
.download:link, .download:visited {
	display: inline-block;
	font-size: 24px;
	line-height: 30px;
	padding: 15px 0px;
	width: 306px;
	text-align: center;
	color: #fff;
	border: 1px solid #007fef;
	border-radius: 60px;
	background: #409cf2; /* Old browsers */
	background: -moz-linear-gradient(top,  #409cf2 0%, #007fef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#409cf2), color-stop(100%,#007fef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #409cf2 0%,#007fef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #409cf2 0%,#007fef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #409cf2 0%,#007fef 100%); /* IE10+ */
	background: linear-gradient(top,  #409cf2 0%,#007fef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#409cf2', endColorstr='#007fef',GradientType=0 ); /* IE6-9 */
}
.download:hover, .download:active {
	background: #007fef; /* Old browsers */
	background: -moz-linear-gradient(top,  #007fef 0%, #007fef 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007fef), color-stop(100%,#007fef)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #007fef 0%,#007fef 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #007fef 0%,#007fef 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #007fef 0%,#007fef 100%); /* IE10+ */
	background: linear-gradient(top,  #007fef 0%,#007fef 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007fef', endColorstr='#007fef',GradientType=0 ); /* IE6-9 */
}
.example {
	width: 306px;
	float: left;
	margin-right: 30px;
}
.test {
	width: 304px;
	text-align: center;
	color: #fff;
	padding: 15px 0px;
	text-align: center;
	background: #333333;
	border-radius: 2px;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	background: #141414; /* Old browsers */
	background: -moz-linear-gradient(top,  #141414 1%, #2b2b2b 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(1%,#141414), color-stop(100%,#2b2b2b)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #141414 1%,#2b2b2b 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #141414 1%,#2b2b2b 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #141414 1%,#2b2b2b 100%); /* IE10+ */
	background: linear-gradient(top,  #141414 1%,#2b2b2b 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#141414', endColorstr='#2b2b2b',GradientType=0 ); /* IE6-9 */
	box-shadow: inset 0px 0px 2px rgba(255,255,255,0.5);
	border: 1px solid #333333;
}
.test:hover {
	background: #000;
}
.code {
	width: 274px;
	font-size: 12px;
	line-height: 18px;
	border: 1px dashed #c0c0c0;
	border-top: none;
	padding: 15px 15px 0px;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
	box-shadow: 0px 0px 30px rgba(255,255,255,0);
}
.code:hover {
	border: 1px dashed #333;
	border-top: none;
	box-shadow: 0px 0px 30px #409cf2;
}
.code-2 {
	width: 946px;
	font-size: 12px;
	line-height: 18px;
	border: 1px dashed #c0c0c0;
	padding: 15px 15px 0px;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
	margin-bottom: 30px;
	box-shadow: 0px 0px 30px #fff;
}
.code-2:hover {
	border: 1px dashed #333333;
	box-shadow: 0px 0px 30px #409cf2;
}
table tr {
	background-color: #f3f3f3;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
}
table tr:hover {
	background-color: #fffceb;
}
table tr:nth-child(even) {
	background-color:  #ffffff;
}
table tr:nth-child(even):hover {
	background-color: #fffceb;
}
table td {
	padding: 15px;
}
.option-name {
	width: 15%;
	font-size: 20px;
	line-height: 26px;
	font-weight: 400;
	font-family: Courier;
	color: #409cf2;
}
.option-values {
	width: 20%;
	font-weight: 400;
}


/* Tooltips */

.tooltip-custom-2 {
	background-color: #d7dce1;
	border: 1px solid #afb8c0;
	font-family: Arial, sans-serif;
	font-size: 12px; 
	line-height: 16px; 
	position: absolute;
	padding: 10px;
	border-radius: 2px;
	text-align: center; 
	z-index: 9999999; 
	pointer-events: none;
	width: auto;
	color: #000;
	text-align: left;
}
.tooltip-custom-2 img {
	margin-right: 10px;
	border-radius: 2px;
	float: left;
}
.tooltip-custom-2 .tooltip-arrow {
	text-shadow: 0px -2px 0px #afb8c0, 1px 0px 0px #afb8c0, -1px 0px 0px #afb8c0;
}
.tooltip-custom-3 {
	background: #fff;
	font-family: Arial, sans-serif;
	font-size: 12px;
	line-height: 16px;
	position: absolute;
	padding: 10px;
	border-radius: 2px;
	text-align: center; 
	z-index: 9999999;
	pointer-events: none;
	width: auto;
	color: #3d3d3d;
	text-align: left;
	border: 2px solid #3d3d3d;
}


/* Themes */

.theme-preview a {
	padding: 10px;
	width: auto;
	text-align: center;
	display: inline-block;
	opacity: 0.8;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
	margin-right: 10px;
}
.theme-preview a:hover {
	opacity: 1;
}

#themes em {
	display: block;
	margin-top: 30px;
	font-size: 12px;
	line-height: 12px;
}

.tooltipster-chocolate {
	background-color: #7f5d3c;
	border: 2px solid #5c3d1f;
	color: #fafaeb;
	font-family: Arial, sans-serif;
	font-size: 12px; 
	line-height: 12px; 
	position: absolute;
	padding: 10px;
	border-radius: 4px; 
	text-align: center; 
	z-index: 9999999; 
	pointer-events: none;
	width: auto;
	overflow: visible;
}
.tooltipster-chocolate .tooltip-arrow {
	text-shadow: 0px 2px 0px #654728, 1px 1px 0px #654728, -1px 1px 0px #654728;
}
.tooltipster-chocolate-preview {
	background-color: #7f5d3c;
	border: 2px solid #654728;
	color: #fafaeb !important;
	font-family: Arial, sans-serif;
	font-size: 12px; 
	line-height: 12px;
	border-radius: 4px;
}

.tooltipster-clean-cut {
	background-color: #f9f9f9;
	border: 1px solid #dadada;
	box-shadow: inset 0px 1px 0px #fff;
	color: #595959;
	font-family: Arial, sans-serif;
	font-size: 12px; 
	line-height: 12px; 
	position: absolute;
	padding: 10px;
	border-radius: 4px; 
	text-align: center; 
	z-index: 9999999; 
	pointer-events: none;
	width: auto;
	overflow: visible;
}
.tooltipster-clean-cut .tooltip-arrow {
	text-shadow: 0px 2px 0px #dadada, 0px 1px 0px #dadada;
}
.tooltipster-clean-cut-preview {
	background-color: #f9f9f9;
	border: 1px solid #dadada;
	box-shadow: inset 0px 1px 0px #fff;
	color: #595959 !important;
	font-family: Arial, sans-serif;
	font-size: 12px; 
	line-height: 12px;
	border-radius: 4px;
	padding: 12px 10px !important;
}

.tooltipster-smoke {
    background-color: #111;
    border: 2px solid black;
    border-radius: 6px;
    box-shadow: 5px 5px 7px #444;
    opacity: 0.7;
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
    color: white;
    font-family: Arial, sans-serif;
    font-weight: bold;
    font-size: 12px;
    line-height: 12px;
    position: absolute;
    padding: 10px;
    text-align: center;
    z-index: 9999999;
    pointer-events: none;
    width: auto;
    overflow: visible;
}  
.tooltipster-smoke .tooltip-arrow {
    text-shadow: 5px 5px 7px #444;
}
.tooltipster-smoke-preview {
	background: #111;
	border: 2px solid black;
	box-shadow: 5px 5px 7px #444;
	color: #fff !important;
	font-family: Arial, sans-serif;
	font-size: 12px; 
	line-height: 12px;
	border-radius: 4px;
	opacity: 0.7 !important;
	filter: progid:DXImageTransform.Microsoft.Alpha(opacity=70);
	padding: 12px 10px !important;
}


/* Type */

h1 {
	font-family: 'Pacifico', sans-serif;
	font-size: 42px;
	line-height: 48px;
	font-weight: 400;
}
h1 span {
	font-family: 'Open-Sans', sans-serif;
	font-size: 20px;
	line-height: 26px;
	font-weight: 300;
}
h2 {
	font-size: 30px;
	line-height: 36px;
	font-weight: 700;
	margin-bottom: 15px;
	color: #628192;
}
h3 {
	font-size: 24px;
	line-height: 30px;
	font-weight: 400;
	padding-top: 15px;
	margin-bottom: 15px;
}
h4 {
	font-size: 18px;
	line-height: 24px;
	font-weight: 400;
	margin-bottom: 15px;
}
p {
	margin-bottom: 15px;
}
p:last {
	margin-bottom: 0px;
}
pre {
	border: none;
	outline: none;
	padding: 0px;
	margin: 0px;
	font-family: Courier, sans-serif;
}
strong {
	font-weight: 700;
}
ul {
	margin-bottom: 15px;
	list-style: circle inside;
}
li {
	font-weight: 700;
}

/* Footer */

footer {
	width: 100%;
	margin-top: 60px;
	padding-top: 30px;
	border-top: 1px dashed #dfe2e4;
	margin-bottom: 30px;
	font-size: 12px;
	line-height: 12px;
	text-align: center;
}


/* Links */

a:link, a:visited {
	text-decoration: none;
	color: #409cf2;
	font-weight: 400;
	-webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	-o-transition: all 300ms;
	-ms-transition: all 300ms;
	transition: all 300ms;
}
a:hover, a:active {
	color: #1b6ebc;
}
a.button:link, a.button:visited {
	overflow: hidden;
	display: block;
	text-indent: -9999px;
	background-position: top;
}
a.button:hover, a.button:active {
	background-position: bottom;
}


/* Random */

.clear {
	clear: both;
}
.last {
	margin: 0px;
}